---
import RetroWrapper from '../components/RetroWrapper.astro';
import App from '../components/App';
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ultimate Mortal Kombat 3 — Tribute</title>
  </head>
  <body>
    <RetroWrapper>
      <App client:load />
    </RetroWrapper>
  </body>
</html>
